In [81]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.ticker as mtick 
import matplotlib.pyplot as plt
import imblearn

In [82]:
scm_data = pd.read_csv('dataCo1kDistance2.csv')

In [83]:
scm_data.head()

,Unnamed: 0,Unnamed: 0.1,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,...,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Shipping Cost,Distance,order_coords
0,0,0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,...,NaN,http://images.acmesports.sports/Smart+-watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class,12.875739,18481.922336,"Kota Bekasi, Jawa Barat, Jawa, Indonesia"
1,1,1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,...,NaN,http://images.acmesports.sports/Smart+-watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class,11.950647,13278.496831,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
2,2,2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,...,NaN,http://images.acmesports.sports/Smart+-watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class,14.620250,12603.663952,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
3,3,3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,...,NaN,http://images.acmesports.sports/Smart+-watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class,8.990151,11625.195512,"Townsville, Townsville City, Queensland, 4810,..."
4,4,4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,...,NaN,http://images.acmesports.sports/Smart+-watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class,12.042371,16572.070499,"Townsville, Townsville City, Queensland, 4810,..."

In [84]:
scm_data.dtypes

Unnamed: 0                         int64
Unnamed: 0.1                       int64
Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
Shipping Cost                    float64
Distance                         float64
order_coords                      object
dtype: object

In [85]:
columns_to_drop = ['Unnamed: 0', 'Unnamed: 0.1', 'Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
                   'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk',
                   'Category Name', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname',
                   'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode',
                   'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order date (DateOrders)',
                   'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate',
                   'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Sales', 'Order Item Total',
                   'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode',
                   'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name',
                   'Product Price', 'Product Status', 'Shipping date (DateOrders)', 'order_coords']

In [86]:
desired_columns = ['Shipping Cost', 'Category Id', 'Customer City', 'Customer Country',
                   'Order City', 'Order Country', 'Shipping Mode', 'Order Item Quantity', 'Distance']
scm_data = scm_data[desired_columns]

In [87]:
scm_data.head()

,Shipping Cost,Category Id,Customer City,Customer Country,Order City,Order Country,Shipping Mode,Order Item Quantity,Distance
0,12.875739,73,Caguas,Puerto Rico,Bekasi,Indonesia,Standard Class,1,18481.922336
1,11.950647,73,Caguas,Puerto Rico,Bikaner,India,Standard Class,1,13278.496831
2,14.620250,73,San Jose,EE. UU.,Bikaner,India,Standard Class,1,12603.663952
3,8.990151,73,Los Angeles,EE. UU.,Townsville,Australia,Standard Class,1,11625.195512
4,12.042371,73,Caguas,Puerto Rico,Townsville,Australia,Standard Class,1,16572.070499

In [88]:
scm_data.dtypes

Shipping Cost          float64
Category Id              int64
Customer City           object
Customer Country        object
Order City              object
Order Country           object
Shipping Mode           object
Order Item Quantity      int64
Distance               float64
dtype: object

In [89]:
scm_data.isnull().sum()

Shipping Cost          0
Category Id            0
Customer City          0
Customer Country       0
Order City             0
Order Country          0
Shipping Mode          0
Order Item Quantity    0
Distance               0
dtype: int64

In [90]:
duplicate = scm_data[scm_data.duplicated()]
 
print("Duplicate Rows :")

Duplicate Rows :

In [91]:
scm_data['Customer City'].nunique()

270

In [92]:
scm_data['Customer Country'].nunique()

2

In [93]:
scm_data['Order City'].nunique()

556

In [94]:
scm_data['Order Country'].nunique()

93

In [95]:
scm_data['Shipping Mode'].nunique()

4

In [96]:



# List of categorical features
low_cardinality_features = ['Shipping Mode']
high_cardinality_features = ['Customer City', 'Customer Country', 'Order City', 'Order Country']

# Apply Label Encoding for low cardinality features, for example, shipping mode has ordinary nature
for feature in low_cardinality_features:
    scm_data[feature] = scm_data[feature].astype('category').cat.codes

# Apply One-Hot Encoding for high cardinality features
scm_data_encoded = pd.get_dummies(scm_data, columns=high_cardinality_features, drop_first=True)

In [97]:
scm_data_encoded.head()

,Shipping Cost,Category Id,Shipping Mode,Order Item Quantity,Distance,Customer City_Albuquerque,Customer City_Algonquin,Customer City_Alhambra,Customer City_Allentown,Customer City_Amarillo,...,Order Country_Togo,Order Country_Trinidad y Tobago,Order Country_Turqu+AO0-a,Order Country_Ucrania,Order Country_Uruguay,Order Country_Uzbekist+AOE-n,Order Country_Venezuela,Order Country_Vietnam,Order Country_Yemen,Order Country_Zambia
0,12.875739,73,3,1,18481.922336,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11.950647,73,3,1,13278.496831,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14.620250,73,3,1,12603.663952,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8.990151,73,3,1,11625.195512,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12.042371,73,3,1,16572.070499,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler



# List of numerical features to be scaled
numerical_features = ['Shipping Cost', 'Order Item Quantity', 'Distance']

# Apply MinMaxScaler for normalization
minmax_scaler = MinMaxScaler()
scm_data_encoded[numerical_features] = minmax_scaler.fit_transform(scm_data_encoded[numerical_features])

In [99]:
scm_data_encoded.head()

,Shipping Cost,Category Id,Shipping Mode,Order Item Quantity,Distance,Customer City_Albuquerque,Customer City_Algonquin,Customer City_Alhambra,Customer City_Allentown,Customer City_Amarillo,...,Order Country_Togo,Order Country_Trinidad y Tobago,Order Country_Turqu+AO0-a,Order Country_Ucrania,Order Country_Uruguay,Order Country_Uzbekist+AOE-n,Order Country_Venezuela,Order Country_Vietnam,Order Country_Yemen,Order Country_Zambia
0,0.241222,73,3,0.0,0.983287,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.223580,73,3,0.0,0.701290,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.274490,73,3,0.0,0.664718,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.167123,73,3,0.0,0.611691,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.225329,73,3,0.0,0.879783,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
y = scm_data_encoded['Shipping Cost'].values
X = scm_data_encoded.drop(columns = ['Shipping Cost'])

In [101]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [102]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score



X = scm_data_encoded.drop('Shipping Cost', axis=1)
y = scm_data_encoded['Shipping Cost']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


random_forest_model = RandomForestRegressor(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, y_train)


y_pred = random_forest_model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error: {mae:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Absolute Error: 0.04
Root Mean Squared Error: 0.06
R-squared: 0.81

In [103]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score



X = scm_data_encoded.drop('Shipping Cost', axis=1)
y = scm_data_encoded['Shipping Cost']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize different regression models
models = {
    'Decision Tree Regressor': DecisionTreeRegressor(random_state=42),
    'Random Forest Regressor': RandomForestRegressor(n_estimators=100, random_state=42)
}


results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_pred)
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {'MAE': mae, 'RMSE': rmse, 'R-squared': r2}


for name, metrics in results.items():
    print(f"Model: {name}")
    print(f"Mean Absolute Error: {metrics['MAE']:.2f}")
    print(f"Root Mean Squared Error: {metrics['RMSE']:.2f}")
    print(f"R-squared: {metrics['R-squared']:.2f}")
    print("=" * 30)

# Perform model selection based on metrics (e.g., lower RMSE and higher R-squared are better)
best_model_name = min(results, key=lambda x: results[x]['RMSE'])
print(f"Best Model: {best_model_name}")

Model: Decision Tree Regressor
Mean Absolute Error: 0.05
Root Mean Squared Error: 0.07
R-squared: 0.70
==============================
Model: Random Forest Regressor
Mean Absolute Error: 0.04
Root Mean Squared Error: 0.06
R-squared: 0.81
==============================
Best Model: Random Forest Regressor

In [104]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error




X = scm_data_encoded.drop('Shipping Cost', axis=1)
y = scm_data_encoded['Shipping Cost']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_model = RandomForestRegressor(random_state=42)

# Define hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200],  # Number of trees in the forest
    'max_depth': [None, 10, 20],      # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]     # Minimum number of samples required to be at a leaf node
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, 
                           scoring='neg_mean_squared_error', cv=3)


grid_search.fit(X_train, y_train)
best_rf_model = grid_search.best_estimator_

# Make predictions on the testing data
y_pred = best_rf_model.predict(X_test)

# Calculate RMSE for the best model
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"Best Model RMSE: {rmse:.2f}")

Best Model RMSE: 0.05

In [105]:
print("Best Hyperparameters:")
print(grid_search.best_params_)

Best Hyperparameters:
{'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}